<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>About_me</title>
        <link rel="stylesheet" href="/static/css/about.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/4.2.0/normalize.min.css">
    </head>
    <body>

        <nav>
             <a href="http://127.0.0.1:5000">HOME</a>
            <a href="http://127.0.0.1:5000/about">ABOUT ME</a>
            <a href="http://127.0.0.1:5000/portfolio">PORTFOLIO </a>
            <div class="line"></div>
        </nav>


        <div class="main_container">
            <div class="the_card">
                <div class="the_front">
                    <h3>ABOUT ME..</h3>
                </div>
                <div class="the_back">
                    <div class="details">
                        <p>NAME: HRVOJKA ŠTRTAK</p>
                        <p>AGE: 37</p>
                        <p>EDUCATION: SmartNinja Coding School</p>
                        <p>LOCATION: ZAGREB, CROATIA</p>
                        <p>CONTACT: hrvojka.strtak@gmail.com</p>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>