<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>portfolio</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/4.2.0/normalize.min.css">
        <link rel="stylesheet" href="/static/css/portfolio.css">
    </head>
    <body>
        <nav>
            <a href="http://127.0.0.1:5000">HOME</a>
            <a href="http://127.0.0.1:5000/about">ABOUT ME</a>
            <a href="http://127.0.0.1:5000/portfolio">PORTFOLIO </a>
            <div class="line"></div>
        </nav>
        <div class="container">
             <div class="card">
                <div class="face face1">
                    <div class="content">
                        <h3>FAKEBOOK</h3>
                    </div>
                </div>
                <div class="face face2">
                    <div class="content">
                        <p>WEB DEVELOPMENT 1 - LESSON 1</p>
                        <a href="https://github.com/hrvojka/wd1-lesson_1-FAKEBOOK">GIT HUB</a>
                    </div>
                </div>
             </div>
            <div class="card">
                <div class="face face1">
                    <div class="content">
                        <h3>BOOGLE</h3>
                    </div>
                </div>
                <div class="face face2">
                    <div class="content">
                        <p>WEB DEVELOPMENT 1 - LESSON 3</p>
                        <a href="https://github.com/hrvojka/wd1-lesson_3-BOOGLE">GIT HUB</a>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="face face1">
                    <div class="content">
                        <h3>HAIR SALON</h3>
                    </div>
                </div>
            <div class="face face2">
                <div class="content">
                    <p>WEB DEVELOPMENT 1 - LESSON 5</p>
                    <a href="https://github.com/hrvojka/wd1-lesson_5-HAIR_SALON">GIT HUB</a>
                </div>
            </div>
            </div>
        </div>
    </body>
</html>